<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC com Node.js</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <br><br>
        <h2>MVC com Node.js</h2>
        <br>
        <% if (news.length > 0) { %>
            <div class="row">
                <% for (var i = 0; i < news.length; i++) { %>
                    <div class="col-md-12 jumbotron">
                        <h4><%= news[i].title %></h4>
                        <p><%= news[i].new %></p>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</body>

</html>